//- Base layout for all pages

//- Common Component Imports
include /components/common/icon/icon.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    if data.pageTitle
      title #{data.pageTitle} | #{data.siteTitle}
    else
      title #{data.siteTitle} &#8211; #{data.siteTagline}

    link(rel="manifest", href="/manifest.json")

    link(rel="stylesheet", href=`css/style.css?v=${data.version}`)
  body.page
    block page

    block scripts
      script(src=`js/main.js?v=${data.version}`)
